h1,h2,h3,h4,h5{
    color: red;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    display: block;
    font-weight: bold;
    border-left:5px solid #F1592A;
    background-color:blanchedalmond;
   padding:2px;
   
}

p{
    line-height: 30px;
    letter-spacing: 1px;
    text-align: justify;
    zoom: normal;
    
   
}
h2{
    color: blue;
}
 p{
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    column-gap: 20px;
} 


a{
    text-decoration: double;

}
#block1,#block2,#block3{
    color: rgb(0, 47, 255);
    font-size: 15px;
    font-weight: bold;
}
img{
    align-content: center;
}